flask==3.1.1

langchain==1.2.10
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.11
langchain-google-genai==4.2.0
langchain-openai==1.1.9
langchain-pinecone==0.2.13
langchain-text-splitters==1.1.0

langgraph==1.0.8
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.5
langsmith==0.7.1

google-generativeai==0.8.6
google-ai-generativelanguage==0.6.15

pinecone==7.3.0

pypdf==5.6.1
sentence-transformers==5.2.2
tiktoken==0.12.0

python-dotenv==1.2.1
requests==2.32.5
httpx==0.28.1
orjson==3.11.7

pydantic==2.12.5
pydantic-settings==2.12.0

uvicorn==0.40.0
